#post{
    padding: 30px;
}


.post-content {
    margin: 10px 0;
    position: relative;
}

.post-content-head {
    display: flex;
    justify-content: space-between;
    align-content: center;
    
}
.do_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 25vh;
    z-index: 1000;
    background-color: #fff;
    display: block;
}
.isDonate_Active {
    display: none;
}
/* .do_form {
    width: 30%;
    height: 45vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
} */
.item_sh {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}
.item_sh .item_img{
    width: 100%;
    height: 20vh;
    
}
.item_sh .item_img img{
    width: 100%;
    object-fit: cover;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-content-head .post_lab{
    display: flex;
    align-content: center;
}
.post-content-head .post_lab .post_img_holder{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
}
.post-content-head .post_lab .post_img_holder img {
    width: 100%;
    object-fit: cover;
}
.post-content-head .post_lab .post_name {
    padding: 10px;
    margin: 10px 0 0 15px;
}
.post-content-head .post_lab .post_name h5 {
    display: none;
}
.post-content-head .post_lab .post_name .tym {
    color: #A8A8A8;
    font-size: 18px;
}
.post-content-head .post_lab .post_name .post_com {
    font-size: 15px;
}
.post-content .post_cont_image {
    width: 80%;
    height: inherit;
    /* background-color: black; */
    padding: 20px 20px;
    text-align: center;
    margin: 0 auto;
}
#postHolder {
    width: 100%;
}
.post-content .post_cont_image .post_im_box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-gap: 3px;
    
    width: 100%;
    height: 55vh;
}
.post-content .post_cont_image .p_im_holder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(308px, 1fr));
    grid-gap: 3px;
    width: inherit;
    height: inherit;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: 1px;
    scrollbar-color: #FD169C;
}
.post-content .post_cont_image .post_im_box .post_im_box1 {
    width: 100%;
    height: inherit;
}
.post-content .post_cont_image .post_im_box .post_im_box1 img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    border-radius: 10px;
}
.post-content .post_cont_image .post_im_box .post_im_box2 {
    width: 100%;
    height: inherit;
    /* background-color: green; */
}
.post-content .post_cont_image .post_im_box .post_im_box2 img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    border-radius: 10px;
}
.post-content .post_cont_image .post_im_box .post_im_box3 {
    width: 100%;
    height: inherit;
    /* background-color: red; */
}
.post-content .post_cont_image .post_im_box .post_im_box3 img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    border-radius: 10px;
}

.post-btn {
    text-align: start;
    margin: 25px 0;
}
.post-btn .post-btn-1 {
    padding: 10px ;
    outline: none;
    border: none;
    background-color: #FD169C;
    margin-right: 20px;
    border-radius: 10px;
    color: #f5f5f5;
     text-decoration: none;
}
.post-btn .post-btn-2 {
    padding: 10px;
    width: 15%;
    outline: none;
    border: none;
    background-color: #009CFF;
    border-radius: 10px;
    color: #f5f5f5;
    text-decoration: none;
}
.post_icons {
    text-align: start;
    display: flex;
    position: relative;
}
.post_icons .post_fa {
    margin: 10px 5px ;
    font-size: 25px;
}
.post_icons span {
    margin-right: 10px;
    color: #A8A8A8;
}
.action_btn{
    border: none;
    outline: none;
    background: transparent;
    display: flex;
}
.post_icons .post-ic-heart {
    color: #FD169C;
    cursor: pointer;
}
.post_icons .post-ic-heart .liked {
    animation: like-anime 0.7s steps(28) forwards;
}
@keyframes like-anime {
    to {
        background-position: right;
    }
}
/* .heart_bg {
    background: rgb(255, 192, 200, 0);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease;
} */

.post_icons .post-ic-retweet {
    color: #009CFF;
    cursor: pointer;
}
.showShare {
    width: 100%;
    height: inherit;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center; 
    display: block;
}
.showShare-active {
    display: none;
}

.sma_post {
    display: none;
}
.big_post {
    display: block;
}

/*comment*/
.showcomment {
    display: none;
}
.showcomment_active {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #000;
    /* position: absolute;
    top: 0;
    left: 0;  */

}

.co_container {
    width: min(90%, 1140px);
    margin: 3rem auto;
    text-align: start;
}
.comment_container {
    display: none;
    position: relative;
} 
.comment_container .open {
    display: block;
}
.comment_container::before {
    content: "";
    background-color: rgb(155, 151, 151);
    position: absolute;
    min-height: 100%;
    width: 1px;
    left: -10px;
}
.comment_container:not(:first-child) {
    margin-left: 3rem;
    margin-top: 1rem;
}
.comment_card {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #000;
    border-radius: .5rem;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}
.comment_card h3, .comment_card p {
    margin-bottom: 1rem;
}
.comment_card_footer {
    display: flex;
    font-size: .85rem;
    opacity: .6;
    gap: 30px;
    justify-content: flex-end;
    align-items: center;
}
.show-rplies {
    cursor: pointer;
}
.big_screen_name {
    display: block;
    font-size: 13px;
}
.comment_active {
    display: block;
}
.comment_disactive {
    display: none;
}
/* video */
/* .video-container {
  position: relative;
} */

/* .video-container video {
  display: block;
  width: 100%;
} */

/* .video-container .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 1;
}

.video-container:hover .play-button {
  display: block;
}
.video-player {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: black;
} */

video {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
video::-webkit-media-controls {
  display: none;
}

video:hover::-webkit-media-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
}
.video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 320px) {
    .post-content .post_cont_image .post_im_box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 1px;
}
.post-content .post_cont_image .p_im_holder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(53px, 1fr));
    grid-gap: 1px;
    width: inherit;
    height: inherit;
}
.big_screen_name {
    display: none;
}
.post_icons .post_fa {
    margin: 10px 5px ;
    font-size: 30px;
}

}

@media only screen and (max-width: 320px) {
        .post-content .post_cont_image .post_im_box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 1px;
    overflow-y: scroll;
    /* overflow: hidden; */
}
.post-content .post_cont_image .p_im_holder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13px, 1fr));
    grid-gap: 1px;
    width: inherit;
    height: inherit;
}
}

@media only screen and (max-width: 600px) {
#post{
    padding: 20px;
}
.post-content-head {
    display: flex;
    justify-content: space-between;
    align-content: center;
    
}
.post-content-head .post_lab{
    display: flex;
    align-content: center;
}
.post-content-head .post_lab .post_img_holder {
    padding: 5px;
    width: 33px;
    height: 33px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    display: none;
    /* font-size: 15px; */
}
.post-content-head .post_lab .post_img_holder img {
    width: 100%;
    object-fit: cover;
}
.post-content-head .post_lab .post_name {
    padding: 0px;
    margin: 0;
    /* display: flex; */
    align-items: center;
}
.post-content-head .post_lab .post_name h6{
    padding: 0px;
    margin-left: 10px;
}
.post-content-head .post_lab .post_name h5{
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    display: block;
    padding: 0;
    margin: 0;
}
.big_screen_name {
    display: none;
}
.sm_screen_headerInfo {
    display: flex;
    align-items: center;
}
.sm_screen_headerInfo h4{
   padding: 0;
   margin: 0;
   font-size: 16px;
}
.post-content-head .post_lab .post_name h5 img {
    width: 100%;
    object-fit: cover;
}
.post-content-head .post_lab .post_name .tym {
    color: #A8A8A8;
    font-size: 15px;
    padding: 0;
    margin-bottom: 0px;
}
.post-content-head .post_lab .post_name .post_com {
    font-size: 17px;
}
.big_post {
    display: inline-block;
}
.sma_post {
    display: block;
}

.post-content .post_cont_image {
    width: 100%;
    height: inherit;
    /* background-color: black; */
    padding: 0px;
    text-align: center;
    margin: 0 auto;
}
.post-content .post_cont_image .post_im_box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 1rem;
}
.post-content .post_cont_image .p_im_holder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(108px, 1fr));
    grid-gap: 3px;
    width: inherit;
    height: inherit;
}
.post-btn {
    text-align: start;
    margin: 25px 0;
    display: none;
}
.post_icons {
    text-align: start;
    display: flex;
}
.post_icons .post_fa {
    margin: 10px 5px ;
    font-size: 15px;
}
.post_icons span {
    margin-right: 10px;
    color: #A8A8A8;
}
.post_icons .post-ic-heart {
    color: #FD169C;
}
.post_icons .post-ic-retweet {
    color: #009CFF;
}
.post_icons .post_fa {
    margin: 10px 5px ;
    font-size: 26px;
}
}
@media only screen and (max-width: 1440px) {
    .post-content .post_cont_image .post_im_box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 1px;
}
.post-content .post_cont_image .p_im_holder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-gap: 1px;
    width: inherit;
    height: inherit;
}
.big_screen_name {
    display: none;
}

}